.subject__card {
  border-radius: 5px;
  height: fit-content;
  width: 30%;
  overflow: hidden;
  border-top: none;
  margin-top: 20px;
}
.card__header:hover {
  background: #065683;
}
.card__header {
  display: flex;
  background: #02a0e4fd;
  color: #fff;
  padding: 10px;
}
.card__icon {
  flex: 1;
  color: #e31a00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__icon > * {
  background: #fff;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 50%;
}
.card__title {
  flex: 4;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.card__list {
  padding: 30px;
  background: #eef1f8;
}

ul {
  list-style-type: circle;
  font-size: 0.9rem;
}
ul li a{
  color: #333;
  color: #065683;
}
ul li a:hover {
  text-decoration: underline;
}
.card__title a {
  color: #fff;
}
.card__title a:hover {
  color: rgb(207, 219, 245);
}
@media only screen and (max-width: 960px) {
  .subject__card {
    width: 48%;
  }
}
@media only screen and (max-width: 620px) {
  .subject__card {
    width: 100%;
  }
}
