.search__page {
  min-height: 60vh;
  border: 1px solid;
}
.search__criteria__wrapper {
  background: #1a337b;
  background: linear-gradient(to right, #252160, #ffffff);
  height: 200px;
}
.search__criteria {
  width: 85vw;
  margin: 0 auto;
  color: #fff;
  padding: 20px 0;
  /* border: 1px solid red; */
  border-bottom: 2px solid #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.search__icon {
  /* border: 1px solid red; */
  background: #fff;
  color: #000;
  align-self: center;
}
.course__search__form {
  /* border: 1px solid red; */
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.course__search__form input {
  display: block;
  margin: auto;
  border: 1px solid #fff;
  padding: 4px;
}
.course__search__form input:focus {
  outline: none;
}
.course__search__form button {
  border: 1px solid;
  padding: 8px 12px;
  background: #23419f;
  cursor: pointer;
  color: #fff;
}
.course__search__form button:hover {
  background: rgb(243, 93, 93);
}
.search__option__btns {
  display: flex;
}

.option__wrapper button {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  margin-right: 10px;
  width: fit-content;
}
.option__wrapper {
  flex-direction: column;
  position: relative;
}
.option__dropdown {
  border: 2px solid #0044ff;
  height: 200px;
  min-width: 250px;
  position: absolute;
  top: 35px;
  background: #fff;
  color: #000;
  overflow-y: scroll;
}
.option__dropdown ul {
  list-style: none;
  padding: 5px;
}
/* .option__dropdown ul li>*{
    display: block
} */
.option__dropdown ul li {
  display: flex;
  padding: 5px 0;
  /* justify-content: space-between; */
  align-items: center;
  /* margin: auto; */
  font-size: .75rem;
}
#checkbox {
  display: block;
  /* border: 1px solid red; */
}
.option__dropdown ul li span {
  /* border: 1px solid red; */
  display: inline-block;
  /* flex: 1; */
  margin-left: 5px
}
.option__dropdown ul li input {
    margin-bottom: 0px;
    padding: 1px;
    line-height: 1.5rem;
    width: fit-content
}
.selected__option{
    display: inline-block;
    border: 1px solid #fff;
    background: rgb(143, 162, 196);
    padding: 2px 8px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 25px; 
}
.selected__option button{
    border: none;
    border-radius: 50%;
    background: transparent;
    color: red;
    box-sizing: content-box;
    padding: 2px 5px;
}
.selected__option button:hover{
    background: #fff;
    cursor: pointer;
    
}
.option__title{
    flex: 1;
}
.option__number{
  background: #092fa3;
  color: #fff;
  width: 35px;
  padding: 2px;
  border-radius: 10px;
  font-size: .7rem;
  text-align: center;
}
.filter__btns__wrapper{
    /* border: 1px solid #aaa; */
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}
.filter__btns__wrapper button{
    width: 100px;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-bottom: -3px;
}
.filter__btns__wrapper button{
  margin-right: 5px
}
.filter__btns__wrapper button:focus{
    outline: none;
}
